.movies-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  @media screen and (max-width: 495px) {
    padding-top: 14px;
  }
}

.movies-card-list__list {
  max-width: 1140px;
  margin-top: 70px;
  padding: 0;
  display: grid;
  row-gap: 32px;
  column-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
    @media screen and (max-width: 1150px) {
    margin-top: 82px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
    column-gap: 24px;
  }
  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
    gap: 14px;
    margin-top: 40px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 40px;
    gap: 25.5px;
  }
}

.movies-card-list__button {
  max-width: 320px;
  width: 320px;
  border-radius: 6px;
  background-color: var(--button-card);
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 139px;
  margin-top: 43px;
  border: none;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    padding: 12px 147px;
    margin-top: 63px;
  }
  @media screen and (max-width: 495px) {
    padding: 10px 109px;
    margin-top: 60px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 72px;
  }
}

.movies-card-list__button:hover {
  opacity: 0.8;
}