:root {
  --padding-large: 110px 70px;
  --padding-medium: 95px 50px;
  --padding-small: 70px 18px;
  --margin-large: 70px 0 110px;
  --margin-medium: 0 0 93px;
  --margin-small: 64px 0 60px;
  --font-size-large: 20px;
  --font-size-medium: 14px;
  --font-size-small: 11px;
  --line-height-large: 24px;
  --line-height-medium: 20px;
  --line-height-small: 16px;
}

.about-project {
  padding: var(--padding-large);
  background-color: var(--background-frontend);
}

.about-project__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: var(--margin-large);
  gap: 25px;
  list-style-type: none;

}

.about-project__title {
  font-weight: 400;
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__description {
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  margin: 26px 0 0 0;
  max-width: 550px;
}

.about-project__time {
  display: flex;
}

.about-project__time-title {
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: 17px;
  margin: 0;
}

.about-project__time-back,
.about-project__time-front {
  text-align: center;
}

.about-project__time-front {
  width: 100%;
  max-width: 912px;
}

.about-project__time-title_back {
  color: var(--black);
  background-color: var(--green);
  box-sizing: border-box;
  padding: 9px 84px;
}

.about-project__time-title_front {
  background-color: var(--about-bar);
  box-sizing: border-box;
  padding: 9px 0;
}

.about-project__time-description {
  color: var(--grey-dark);
  font-weight: 500;
  font-size: var(--font-size-medium);
  line-height: 17px;
  margin: 14px 0 0;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: var(--padding-medium);
  }

  .about-project__container {
    margin-bottom: 93px;
  }

  .about-project__description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .about-project__time-front {
    max-width: 528px;
  }

  .about-project__time-title_back {
    padding: 9px 40px;
  }
}

@media screen and (max-width: 495px) {
  .about-project {
    padding: var(--padding-small);
  }

  .about-project__container {
    flex-direction: column;
    margin: var(--margin-small);
    gap: 56px;
  }

  .about-project__time-title_back {
    padding: 10px 26px;
  }

  .about-project__time-description {
    font-weight: 400;
    font-size: var(--font-size-small);
    line-height: 13px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__description {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    margin-top: 16px;
  }

  .about-project__time-title {
    font-size: var(--font-size-small);
    line-height: 13px;
  }

  .about-project__time-front {
    max-width: 184px;
  }
}